<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.humming.pjmember">

    <!-- 进行网络访问和网络状态监控相关的权限声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 自动聚焦权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 写文件的权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 存储卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".base.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SelectPositonActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.work.WorkActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.work.WorkPlanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.scan.AddRepairActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.scan.AddMaintainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.scan.AddUseOilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.scan.AddAccidentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.scan.DeviceManageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.scan.RepairDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.scan.RepairLogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.scan.MaintainLogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.scan.UseOilLogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.scan.AccidentLogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.takephoto.AddDefectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.notify.NotifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.takephoto.DefectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.takephoto.DefectDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.takephoto.DefectResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".google.zxing.activity.CaptureActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BrowseImageViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewutils.selectpic.ImageSelectorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.affair.AffairActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.affair.ContractDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.meeting.MeetingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.meeting.SearchMeetingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.statistics.StatisticsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.work.WorkSafetyDisclosureActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="CWYlDxq7ySs54SVAqYDDPTC1glLFSKzo" />  <!--http://lbsyun.baidu.com/apiconsole/key-->


    </application>

</manifest>